@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    @font-face {
        font-family:ffont;
        src:url(../Font/IRANSans-web.woff2);
    }
}

@layer components{

.slider{
 
@apply w-full h-screen 


}

.slides{
    
    @apply w-full h-screen relative flex
}

.slide-min-0{
   @apply w-full h-full absolute text-[190px] left-0;

}




 .infinite-carousel {

     animation: slide 30s linear infinite;
     will-change: transform;
 }


 @keyframes slide {
     0% {
         transform: translateX(0%);

     }

     100% {
         transform: translateX(calc(-540px * 2));

     }
 }

.bg-div {
    animation: bgDiv 5s ease-in infinite;
    will-change: opacity;
}

@keyframes bgDiv {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


}