@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    @font-face {
        font-family:ffont;
        src:url(../Font/IRANSans-web.woff2);
    }
}

@layer components{

.slider {
        @apply w-full overflow-hidden;
    }

  

    .slides {
        @apply relative w-full h-full flex;
    }
    .slide {
        @apply relative
    }

    .pagination {
        @apply block w-[10px] h-[10px] border-[#ffffff69] border-[2px] border-solid rounded-[50%] mr-[18px];
    }




 .infinite-carousel {

     animation: slide 30s linear infinite;
     will-change: transform;
 }


 .ininte-car2{
        animation: slidecar2 30s linear infinite;
        will-change: transform;
 }


 @keyframes slide {
     0% {
         transform: translateX(0%);

     }

     100% {
         transform: translateX(calc(-540px * 2));

     }
 }


  @keyframes slidecar2 {
      0% {
          transform: translateX(0%);

      }

      100% {
          transform: translateX(calc(-540px * 2));

      }
  }


.bg-div {
    animation: bgDiv 5s ease-in infinite;
    will-change: opacity;
}

@keyframes bgDiv {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


}